USE [master]
GO
/****** Object:  Database [MovieBooking]    Script Date: 21/04/2025 16:44:17 ******/
CREATE DATABASE [MovieBooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieBooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MovieBooking.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieBooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MovieBooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieBooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieBooking]
GO
/****** Object:  User [admin]    Script Date: 21/04/2025 16:44:18 ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ShowtimeId] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[Total] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Discount] [int] NULL,
 CONSTRAINT [PK__Booking__73951AEDAB3566DE] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingFood]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingFood](
	[BookingId] [int] NOT NULL,
	[FoodId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeat]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeat](
	[BookingId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
 CONSTRAINT [PK_BookingSeat] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC,
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cast]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cast](
	[CastId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](200) NULL,
 CONSTRAINT [PK_Cast] PRIMARY KEY CLUSTERED 
(
	[CastId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Director]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[DirectorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](200) NULL,
 CONSTRAINT [PK_Director] PRIMARY KEY CLUSTERED 
(
	[DirectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodId] [int] NOT NULL,
	[FoodName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[TheaterBrandId] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Duration] [int] NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DirectorId] [int] NOT NULL,
	[TrailerUrl] [nvarchar](200) NULL,
	[EnglishTitle] [nvarchar](100) NULL,
	[isAvailable] [bit] NULL,
	[PosterUrl] [nvarchar](200) NULL,
	[rating] [float] NULL,
	[Slug] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Movie__4BD2941A2F79E469] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieCast]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCast](
	[MovieId] [int] NOT NULL,
	[CastId] [int] NOT NULL,
	[CharacterName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_MovieCast] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[CastId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenre]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenre](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_MovieGenre] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
	[PaymentMethod] [nvarchar](100) NOT NULL,
	[PaymentStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceAdjustment]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceAdjustment](
	[PriceAdjustmentId] [int] NOT NULL,
	[SeatTypeId] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[DayOfWeek] [nvarchar](50) NULL,
	[SpecificDate] [date] NULL,
	[PriceIncrease] [int] NOT NULL,
 CONSTRAINT [PK_PriceAdjustment] PRIMARY KEY CLUSTERED 
(
	[PriceAdjustmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screen]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screen](
	[ScreenId] [int] IDENTITY(1,1) NOT NULL,
	[TheaterId] [int] NOT NULL,
	[ScreenNumber] [nvarchar](10) NOT NULL,
	[TotalSeats] [int] NULL,
 CONSTRAINT [PK__Screen__0AB60FA5C4A67733] PRIMARY KEY CLUSTERED 
(
	[ScreenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatId] [int] IDENTITY(1,1) NOT NULL,
	[ScreenId] [int] NOT NULL,
	[Row] [nvarchar](1) NULL,
	[Column] [int] NOT NULL,
	[SeatTypeId] [int] NOT NULL,
 CONSTRAINT [PK__Seat__311713F3F0E08603] PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatPrice]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatPrice](
	[SeatTypeId] [int] NOT NULL,
	[ScreenId] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[SeatPriceId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SeatPrice] PRIMARY KEY CLUSTERED 
(
	[SeatPriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[SeatTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SeatType] PRIMARY KEY CLUSTERED 
(
	[SeatTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtime]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtime](
	[ShowtimeId] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[ScreenId] [int] NOT NULL,
	[StartTime] [datetimeoffset](6) NULL,
	[EndTime] [datetimeoffset](6) NULL,
 CONSTRAINT [PK__Showtime__32D31F20AF125D1C] PRIMARY KEY CLUSTERED 
(
	[ShowtimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowtimeSeat]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowtimeSeat](
	[ShowtimeId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
 CONSTRAINT [PK_ShowtimeSeat] PRIMARY KEY CLUSTERED 
(
	[ShowtimeId] ASC,
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theater]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theater](
	[TheaterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[TotalScreens] [int] NOT NULL,
	[TheaterBrandId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TheaterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheaterBrand]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheaterBrand](
	[TheaterBrandId] [int] NOT NULL,
	[TheaterBrandName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TheaterBrand] PRIMARY KEY CLUSTERED 
(
	[TheaterBrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Avatar] [nvarchar](200) NULL,
	[Role] [nvarchar](10) NULL,
	[ProviderId] [nvarchar](20) NULL,
	[UID] [nvarchar](200) NULL,
	[IdToken] [varchar](max) NULL,
 CONSTRAINT [PK__User__1788CC4C69B137D5] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherId] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[ValidFrom] [date] NOT NULL,
	[ValidUntil] [date] NOT NULL,
	[MinBillPrice] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[TheaterBrandId] [int] NOT NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherUser]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherUser](
	[VoucherUserId] [int] NOT NULL,
	[VoucherId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[isUsed] [bit] NOT NULL,
 CONSTRAINT [PK_VoucherUser] PRIMARY KEY CLUSTERED 
(
	[VoucherUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingId], [UserId], [ShowtimeId], [BookingDate], [Total], [Status], [Discount]) VALUES (1, 1, 1, CAST(N'2025-03-08T14:30:00.000' AS DateTime), 180000, N'Confirmed', NULL)
INSERT [dbo].[Booking] ([BookingId], [UserId], [ShowtimeId], [BookingDate], [Total], [Status], [Discount]) VALUES (2, 2, 3, CAST(N'2025-03-07T10:15:00.000' AS DateTime), 270000, N'Confirmed', NULL)
INSERT [dbo].[Booking] ([BookingId], [UserId], [ShowtimeId], [BookingDate], [Total], [Status], [Discount]) VALUES (3, 3, 6, CAST(N'2025-03-09T18:20:00.000' AS DateTime), 150000, N'Confirmed', NULL)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
INSERT [dbo].[BookingSeat] ([BookingId], [SeatId]) VALUES (1, 1)
INSERT [dbo].[BookingSeat] ([BookingId], [SeatId]) VALUES (1, 2)
INSERT [dbo].[BookingSeat] ([BookingId], [SeatId]) VALUES (2, 3)
GO
INSERT [dbo].[Cast] ([CastId], [Name], [Avatar]) VALUES (1, N'Ngô Thanh Vân', N'/avatars/ngo_thanh_van.jpg')
INSERT [dbo].[Cast] ([CastId], [Name], [Avatar]) VALUES (2, N'Ninh Dương Lan Ngọc', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTAw1mT8WGB5LFNEDyGq8cKdUu4RxSwMbsZw&s')
INSERT [dbo].[Cast] ([CastId], [Name], [Avatar]) VALUES (3, N'Trấn Thành', N'https://images2.thanhnien.vn/zoom/686_429/528068263637045248/2023/3/28/tran-thanh-3-1679978161164419649988-0-0-960-1536-crop-1679978783808539742892.jpeg')
GO
SET IDENTITY_INSERT [dbo].[Director] ON 

INSERT [dbo].[Director] ([DirectorId], [Name], [Avatar]) VALUES (1, N'Victor Vũ', N'https://cdn2.tuoitre.vn/thumb_w/480/471584752817336320/2023/11/27/victor-vu-3-17010749935381837696903.jpeg')
INSERT [dbo].[Director] ([DirectorId], [Name], [Avatar]) VALUES (2, N'Trấn Thành', N'https://images2.thanhnien.vn/zoom/686_429/528068263637045248/2023/3/28/tran-thanh-3-1679978161164419649988-0-0-960-1536-crop-1679978783808539742892.jpeg')
INSERT [dbo].[Director] ([DirectorId], [Name], [Avatar]) VALUES (3, N'Charlie Nguyễn', N'/avatars/charlie_nguyen.jpg')
SET IDENTITY_INSERT [dbo].[Director] OFF
GO
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (1, N'Hành động')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (2, N'Hài hước')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (3, N'Tâm lý')
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieId], [Title], [Duration], [ReleaseDate], [Description], [DirectorId], [TrailerUrl], [EnglishTitle], [isAvailable], [PosterUrl], [rating], [Slug]) VALUES (1, N'Mai', 131, CAST(N'2024-02-10' AS Date), N'Bộ phim kể về cuộc đời của một người phụ nữ tên Mai, đối mặt với những thăng trầm và bí mật trong cuộc sống.', 2, N'https://www.youtube.com/watch?v=HXWRTGbhb4U', N'Mai', 1, N'https://images2.thanhnien.vn/528068263637045248/2024/2/20/special-poster-2-mai-17084211313531000860296.jpg', 9.5, N'mai')
INSERT [dbo].[Movie] ([MovieId], [Title], [Duration], [ReleaseDate], [Description], [DirectorId], [TrailerUrl], [EnglishTitle], [isAvailable], [PosterUrl], [rating], [Slug]) VALUES (2, N'Gặp Lại Chị Bầu', 113, CAST(N'2024-01-26' AS Date), N'Bộ phim hài kịch xoay quanh cuộc gặp gỡ định mệnh giữa một người đàn ông và người phụ nữ mang thai.', 5, N'https://www.youtube.com/watch?v=jYKUQAAhGfA', N'Pregnant Woman', 1, N'https://starlight.vn/Areas/Admin/Content/Fileuploads/images/POSTER/gap%20lai%20chi%20bau.jpg', 7.5, N'gap-lai-chi-bau')
INSERT [dbo].[Movie] ([MovieId], [Title], [Duration], [ReleaseDate], [Description], [DirectorId], [TrailerUrl], [EnglishTitle], [isAvailable], [PosterUrl], [rating], [Slug]) VALUES (3, N'Quỷ Cẩu', 105, CAST(N'2024-03-08' AS Date), N'Bộ phim kinh dị dựa trên truyền thuyết dân gian Việt Nam về loài quỷ dữ mang hình dạng chó.', 1, N'https://www.youtube.com/watch?v=_6H3OCQ3QCw', N'Demon Hound', 1, N'https://images2.thanhnien.vn/zoom/700_438/528068263637045248/2023/11/20/edit-edit-teaser-poster-1700498221648907543027-26-0-701-1080-crop-17004982289762134226796.png', 7.5, N'quy-cau')
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
INSERT [dbo].[MovieCast] ([MovieId], [CastId], [CharacterName]) VALUES (1, 2, N'Mai')
INSERT [dbo].[MovieCast] ([MovieId], [CastId], [CharacterName]) VALUES (1, 3, N'Dũng')
INSERT [dbo].[MovieCast] ([MovieId], [CastId], [CharacterName]) VALUES (1, 12, N'Hoa')
GO
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (1, 3)
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (1, 6)
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Screen] ON 

INSERT [dbo].[Screen] ([ScreenId], [TheaterId], [ScreenNumber], [TotalSeats]) VALUES (1, 1, N'Phòng 1', 20)
INSERT [dbo].[Screen] ([ScreenId], [TheaterId], [ScreenNumber], [TotalSeats]) VALUES (2, 1, N'Phòng 2', 20)
INSERT [dbo].[Screen] ([ScreenId], [TheaterId], [ScreenNumber], [TotalSeats]) VALUES (3, 1, N'Phòng 3', 20)
SET IDENTITY_INSERT [dbo].[Screen] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([SeatId], [ScreenId], [Row], [Column], [SeatTypeId]) VALUES (1, 1, N'1', 1, 1)
INSERT [dbo].[Seat] ([SeatId], [ScreenId], [Row], [Column], [SeatTypeId]) VALUES (2, 1, N'1', 2, 1)
INSERT [dbo].[Seat] ([SeatId], [ScreenId], [Row], [Column], [SeatTypeId]) VALUES (3, 1, N'1', 3, 1)
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatPrice] ON 

INSERT [dbo].[SeatPrice] ([SeatTypeId], [ScreenId], [Price], [SeatPriceId]) VALUES (1, 1, 90000, 1)
INSERT [dbo].[SeatPrice] ([SeatTypeId], [ScreenId], [Price], [SeatPriceId]) VALUES (1, 2, 90000, 2)
INSERT [dbo].[SeatPrice] ([SeatTypeId], [ScreenId], [Price], [SeatPriceId]) VALUES (1, 3, 85000, 3)
SET IDENTITY_INSERT [dbo].[SeatPrice] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatType] ON 

INSERT [dbo].[SeatType] ([SeatTypeId], [TypeName]) VALUES (1, N'Ghế thường')
INSERT [dbo].[SeatType] ([SeatTypeId], [TypeName]) VALUES (2, N'Ghế cao cấp')
INSERT [dbo].[SeatType] ([SeatTypeId], [TypeName]) VALUES (3, N'Ghế VIP')
SET IDENTITY_INSERT [dbo].[SeatType] OFF
GO
SET IDENTITY_INSERT [dbo].[Showtime] ON 

INSERT [dbo].[Showtime] ([ShowtimeId], [MovieId], [ScreenId], [StartTime], [EndTime]) VALUES (1, 1, 1, CAST(N'2025-03-10T10:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-03-10T12:11:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Showtime] ([ShowtimeId], [MovieId], [ScreenId], [StartTime], [EndTime]) VALUES (2, 1, 1, CAST(N'2025-03-10T13:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-03-10T15:11:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Showtime] ([ShowtimeId], [MovieId], [ScreenId], [StartTime], [EndTime]) VALUES (3, 1, 2, CAST(N'2025-03-10T11:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2025-03-10T13:11:00.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[Showtime] OFF
GO
SET IDENTITY_INSERT [dbo].[Theater] ON 

INSERT [dbo].[Theater] ([TheaterId], [Name], [Address], [City], [TotalScreens], [TheaterBrandId]) VALUES (1, N'CGV Landmark 81', N'Tầng B1, TTTM Landmark 81, 720A Điện Biên Phủ, Phường 22, Quận Bình Thạnh', N'Hồ Chí Minh', 6, NULL)
INSERT [dbo].[Theater] ([TheaterId], [Name], [Address], [City], [TotalScreens], [TheaterBrandId]) VALUES (2, N'CGV Vincom Center', N'Tầng 3 & 4 TTTM Vincom Center, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1', N'Hồ Chí Minh', 5, NULL)
INSERT [dbo].[Theater] ([TheaterId], [Name], [Address], [City], [TotalScreens], [TheaterBrandId]) VALUES (3, N'Galaxy Nguyễn Du', N'116 Nguyễn Du, Phường Bến Thành, Quận 1', N'Hồ Chí Minh', 4, NULL)
SET IDENTITY_INSERT [dbo].[Theater] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Email], [PasswordHash], [FullName], [Phone], [CreatedAt], [Address], [Avatar], [Role], [ProviderId], [UID], [IdToken]) VALUES (1, N'newemail@example.com', N'5f4dcc3b5aa765d61d8327deb882cf99', N'Hồ Văn Phú Mới', N'0912345678', CAST(N'2023-01-15T10:30:00.000' AS DateTime), N'55/6A Hoàng Diệu 2, Phường Tăng Nhơn Phú B, Thủ Đức', N'https://res.cloudinary.com/dxiuxuivf/image/upload/v1742233205/vietcine/test-image-1742233151036.jpg', NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Email], [PasswordHash], [FullName], [Phone], [CreatedAt], [Address], [Avatar], [Role], [ProviderId], [UID], [IdToken]) VALUES (2, N'tranthib@gmail.com', N'5f4dcc3b5aa765d61d8327deb882cf99', N'Trần Thị B', N'0923456789', CAST(N'2023-02-20T14:45:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Email], [PasswordHash], [FullName], [Phone], [CreatedAt], [Address], [Avatar], [Role], [ProviderId], [UID], [IdToken]) VALUES (3, N'lequangc@gmail.com', N'5f4dcc3b5aa765d61d8327deb882cf99', N'Lê Quang C', N'0934567890', CAST(N'2023-03-10T09:15:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Movie]    Script Date: 21/04/2025 16:44:18 ******/
ALTER TABLE [dbo].[Movie] ADD  CONSTRAINT [UK_Movie] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_MovieCast]    Script Date: 21/04/2025 16:44:18 ******/
ALTER TABLE [dbo].[MovieCast] ADD  CONSTRAINT [UK_MovieCast] UNIQUE NONCLUSTERED 
(
	[MovieId] ASC,
	[CastId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105347410031E]    Script Date: 21/04/2025 16:44:18 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__A9D105347410031E] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF__Booking__Booking__4BAC3F29]  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF__Booking__Status__4CA06362]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Theater] ADD  DEFAULT ((1)) FOR [TotalScreens]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__CreatedAt__398D8EEE]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_ShowtimeId] FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtime] ([ShowtimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_ShowtimeId]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_UserId]
GO
ALTER TABLE [dbo].[BookingFood]  WITH CHECK ADD  CONSTRAINT [FK_BookingFood_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingFood] CHECK CONSTRAINT [FK_BookingFood_Booking]
GO
ALTER TABLE [dbo].[BookingFood]  WITH CHECK ADD  CONSTRAINT [FK_BookingFood_Food] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Food] ([FoodId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingFood] CHECK CONSTRAINT [FK_BookingFood_Food]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_BookingId]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeat_SeatId] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([SeatId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK_BookingSeat_SeatId]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_TheaterBrand] FOREIGN KEY([TheaterBrandId])
REFERENCES [dbo].[TheaterBrand] ([TheaterBrandId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_TheaterBrand]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Director] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Director] ([DirectorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movie_Director]
GO
ALTER TABLE [dbo].[MovieCast]  WITH CHECK ADD  CONSTRAINT [FK_MovieCast_Cast] FOREIGN KEY([CastId])
REFERENCES [dbo].[Cast] ([CastId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieCast] CHECK CONSTRAINT [FK_MovieCast_Cast]
GO
ALTER TABLE [dbo].[MovieCast]  WITH CHECK ADD  CONSTRAINT [FK_MovieCast_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieCast] CHECK CONSTRAINT [FK_MovieCast_Movie]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Genre]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Movie]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[PriceAdjustment]  WITH CHECK ADD  CONSTRAINT [FK_PriceAdjustment_SeatType] FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([SeatTypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PriceAdjustment] CHECK CONSTRAINT [FK_PriceAdjustment_SeatType]
GO
ALTER TABLE [dbo].[Screen]  WITH CHECK ADD  CONSTRAINT [FK_Screen_TheaterId] FOREIGN KEY([TheaterId])
REFERENCES [dbo].[Theater] ([TheaterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Screen] CHECK CONSTRAINT [FK_Screen_TheaterId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_ScreenId] FOREIGN KEY([ScreenId])
REFERENCES [dbo].[Screen] ([ScreenId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_ScreenId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_SeatType] FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([SeatTypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_SeatType]
GO
ALTER TABLE [dbo].[SeatPrice]  WITH CHECK ADD  CONSTRAINT [FK_SeatPrice_Screen] FOREIGN KEY([ScreenId])
REFERENCES [dbo].[Screen] ([ScreenId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SeatPrice] CHECK CONSTRAINT [FK_SeatPrice_Screen]
GO
ALTER TABLE [dbo].[SeatPrice]  WITH CHECK ADD  CONSTRAINT [FK_SeatPrice_SeatType] FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([SeatTypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SeatPrice] CHECK CONSTRAINT [FK_SeatPrice_SeatType]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [FK_Showtime_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [FK_Showtime_MovieId]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [FK_Showtime_ScreenId] FOREIGN KEY([ScreenId])
REFERENCES [dbo].[Screen] ([ScreenId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [FK_Showtime_ScreenId]
GO
ALTER TABLE [dbo].[ShowtimeSeat]  WITH CHECK ADD  CONSTRAINT [FK_ShowtimeSeat_Seat] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([SeatId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShowtimeSeat] CHECK CONSTRAINT [FK_ShowtimeSeat_Seat]
GO
ALTER TABLE [dbo].[ShowtimeSeat]  WITH CHECK ADD  CONSTRAINT [FK_ShowtimeSeat_Showtime] FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtime] ([ShowtimeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShowtimeSeat] CHECK CONSTRAINT [FK_ShowtimeSeat_Showtime]
GO
ALTER TABLE [dbo].[TheaterBrand]  WITH CHECK ADD  CONSTRAINT [FK_TheaterBrand_Theater] FOREIGN KEY([TheaterBrandId])
REFERENCES [dbo].[Theater] ([TheaterId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TheaterBrand] CHECK CONSTRAINT [FK_TheaterBrand_Theater]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_TheaterBrand] FOREIGN KEY([TheaterBrandId])
REFERENCES [dbo].[TheaterBrand] ([TheaterBrandId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_TheaterBrand]
GO
ALTER TABLE [dbo].[VoucherUser]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUser_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VoucherUser] CHECK CONSTRAINT [FK_VoucherUser_User]
GO
ALTER TABLE [dbo].[VoucherUser]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUser_Voucher] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([VoucherId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VoucherUser] CHECK CONSTRAINT [FK_VoucherUser_Voucher]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK__Booking__Status__4D94879B] CHECK  (([Status]=N'Cancelled' OR [Status]=N'Confirmed' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK__Booking__Status__4D94879B]
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableMovies]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAvailableMovies]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.MovieId,
        m.Title,
        m.Duration,
        m.ReleaseDate,
        m.Description,
        m.DirectorId,
        m.TrailerUrl,
        m.EnglishTitle,
        m.isAvailable,
        m.PosterUrl,
        m.rating,
        STRING_AGG(LOWER(g.Name), ', ') AS Genres
    FROM 
        (SELECT * FROM Movie WHERE isAvailable = 1) m
        LEFT JOIN MovieGenre mg ON m.MovieId = mg.MovieId
        LEFT JOIN Genre g ON mg.GenreId = g.GenreId
    GROUP BY 
        m.MovieId,
        m.Title,
        m.Duration,
        m.ReleaseDate,
        m.Description,
        m.DirectorId,
        m.TrailerUrl,
        m.EnglishTitle,
        m.isAvailable,
        m.PosterUrl,
        m.rating
    ORDER BY 
        m.MovieId DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMovieShowtimeAvailability]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMovieShowtimeAvailability]
    @movie_id INT,
    @watch_date DATETIME
AS
BEGIN
    SELECT 
	    Theater.TheaterId AS N'Mã rạp',
        Theater.Name AS N'Tên rạp', 
        Address AS N'Địa chỉ', 
        City AS N'Tỉnh thành', 
        TotalScreens AS N'Tổng phòng',
        ScreenNumber AS N'Số phòng', 
        TotalSeats AS N'Tổng số ghế',
        ShowTimeId AS N'Ca',
        StartTime AS N'Giờ bắt đầu',
        EndTime AS N'Giờ kết thúc',
        COUNT(SEAT.seatId) AS N'Số ghế trống'
    FROM 
        (SELECT ShowTimeId, ScreenId, StartTime, EndTime 
            FROM Showtime 
            WHERE CAST(StartTime AS DATE) = CAST(@watch_date AS DATE) 
            AND @movie_id = Showtime.MovieId) AS SHOWTIME
        INNER JOIN Screen ON SHOWTIME.ScreenId = Screen.ScreenId
        INNER JOIN Theater ON Screen.TheaterId = Theater.TheaterId
        INNER JOIN (SELECT * FROM Seat WHERE isAvailable = 1) SEAT ON SEAT.ScreenId = Screen.ScreenId
    GROUP BY 
		Theater.TheaterId,
        Theater.Name, 
        Address, 
        City, 
        TotalScreens,
        ScreenNumber, 
        TotalSeats,
        ShowtimeId,
        StartTime,
        EndTime
END
GO
/****** Object:  StoredProcedure [dbo].[GetSeatPricesByScreenId]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSeatPricesByScreenId]
    @ScreenId int
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        st.SeatTypeId,
        st.TypeName,
        sp.Price,
        COALESCE(pa.PriceIncrease, 0) AS PriceIncrease,
        (sp.Price + COALESCE(pa.PriceIncrease, 0)) AS TotalPrice
    FROM SeatType st
    INNER JOIN SeatPrice sp ON st.SeatTypeId = sp.SeatTypeId
    LEFT JOIN PriceAdjustment pa ON st.SeatTypeId = pa.SeatTypeId
        AND (
            pa.DayOfWeek = DATENAME(WEEKDAY, GETDATE())
            OR pa.SpecificDate = CAST(GETDATE() AS DATE)
        )
    WHERE sp.ScreenId = @ScreenId
    ORDER BY st.SeatTypeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetSeats]    Script Date: 21/04/2025 16:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSeats]
    @showtimeID INT
AS
BEGIN
    SET NOCOUNT ON;

    --SELECT 
    --    s.SeatId,
    --    s.Row, 
    --    s.Row + CAST(s.[Column] AS NVARCHAR) AS SeatNumber,
    --    MAX(bs.BookingId) AS BookingId, -- Use MAX to get the latest or any BookingId if exists
    --    @showtimeID AS ShowtimeId,
    --    CASE 
    --        WHEN MAX(bs.SeatId) IS NULL THEN 1 -- Available if no booking exists
    --        ELSE 0 -- Booked if any booking exists
    --    END AS IsAvailable
    --FROM Seat s
    --LEFT JOIN BookingSeat bs ON bs.SeatId = s.SeatId
    --LEFT JOIN Booking b ON b.BookingId = bs.BookingId AND b.ShowtimeId = @showtimeID
    ----WHERE s.ScreenId = (SELECT ScreenId FROM Showtime WHERE ShowtimeId = @showtimeID)
    --GROUP BY s.SeatId, s.Row, s.[Column];

	SELECT
        s.SeatId,
        s.Row,
		s.[Column],
        Max(b.BookingId) as BookingId, -- Keep NULL for unbooked seats
        @showtimeID as ShowtimeId,-- Assign @showtimeId to available seats
		s.SeatTypeId,
        CASE
            WHEN bs.SeatId IS NULL THEN cast(1 as bit)  -- Available
            ELSE cast(0 as bit)  -- Booked
        END AS isAvailable
    FROM Seat s
    LEFT JOIN BookingSeat bs ON bs.SeatId = s.SeatId
    LEFT JOIN Booking b ON b.BookingId = bs.BookingId
    --WHERE b.ShowtimeId = @showtimeId OR b.ShowtimeId IS NULL;
	Group by s.SeatId, s.Row, s.[Column], bs.SeatId, s.SeatTypeId
END;
GO
USE [master]
GO
